body {
  background-color: rgba(0, 0, 0, 1);
  font-family: "Inconsolata", monospace;
  scroll-behavior: smooth;
}

.mobileHide {
  transition: display 1s;
  display: none;
}

@media (max-width: 425px) {
  navbar {
    display: flex;
    flex-direction: column;
  }
}
